* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14;
}

nav {
    background-color: rgba(197, 4, 65, 0.772);

}

.nav-item {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    color: white;

}

.phan1-nav ul li {
    border-right: 1px solid white;
    padding: 20px;
    display: inline-block;
    list-style: none;
}

li:hover {
    background-color: rgb(0, 0, 0);
}

.banner {
    width: 100%;
    object-fit: cover;
}


.list-title {
    border: 1px solid black;
    gap: 0 5px;
    align-items: center;
    display: flex;
    width: 30%;
    background-color: rgba(197, 4, 65, 0.772);
    color: white;
}
.phan3{
    display: block;
    flex: 30%;
}
.banh li {
    font-weight: bold;
    width: 30%;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.banh {
    width: auto;
    list-style: none;
}
.imghuman{
    width: 302px;
    padding-left: 20px;
}

.anhbanh{
    width: 30%;
   
}

.list-total{
    padding-top: 20px ;
    padding-left: 20px;
 }

